
.filter{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;

  position: absolute;
  width: 194px;
  height: 28px;
  left: 151px;
  top: 150px;
}

.filterIcon{
  position: static;
  width: 23px;
  height: 26px;
  left: 171px;
  top: 1px;
}

.filterText{
  /* Rick and Morty */

  position: static;
  width: 163px;
  height: 28px;
  left: 0;
  top: 0;

  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;


  color: #000000;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 8px;
}